h1 The adaptable model and the MPD are ready
	br
	small.
		Follow these steps to add the adaptable model into your X3D scene
br
.well.well-sm
	h2 Step 1
	br
	span Include 
	br
	strong &ltscript src = "http://#{baseURL}/vcdiff.js"&gt&lt/script&gt
	br
	strong &ltscript src = "http://#{baseURL}/x3dashPlayer.js"&gt&lt/script&gt
	br
	span  into your page
.well.well-sm
	h2 Step 2
	br
	span Into your X3D scene add the inline node 
	strong &ltinline nameSpaceName = "#{modelID}" mapDEFToID = "true" url = "http://#{baseURL}/modelStubs/#{modelID}.x3d"&gt&lt/inline&gt
.well.well-sm
	h2 Step 3
	br
	span When document is ready add a refrence of the model and the MPD file, into the dash player and call the start method.
	br
	span Example:
	br
	strong var player = new x3dash.Player();
	br
	strong player.addModel("#{adaptiveModel}", "#{mpd}");
	br
	strong player.start();
